# J-Link + STM32F103 SWD 配置
adapter driver jlink
transport select swd
adapter speed 1000

# STM32F103 目标 (SWD DAP)
set CHIPNAME stm32f103
set CPUTAPID 0x3ba00477

dap create $CHIPNAME.dap -chain-position $CHIPNAME.dap
target create $CHIPNAME.cpu cortex_m -dap $CHIPNAME.dap

# Flash
flash bank $CHIPNAME.flash stm32f1x 0x08000000 0 0 0 $CHIPNAME.cpu
